div.main_newsletter {
  width: 100%;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.main_newsletter div.newsletter {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  opacity: 0;
  padding-top: 150px;
  flex-direction: column;
  align-items: center;
  display: none;
}
div.main_newsletter div.newsletter div.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
div.main_newsletter div.newsletter div.panel {
  width: 90%;
  max-width: 900px;
  box-sizing: border-box;
  padding: 30px 40px 50px 40px;
  background: #FFF;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
div.main_newsletter div.newsletter div.panel .ic {
  color: #000;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.4s;
}
div.main_newsletter div.newsletter div.panel .ic:hover {
  color: grey;
}
div.main_newsletter div.newsletter div.panel div.panel_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}
div.main_newsletter div.newsletter div.panel div.panel_body h3 {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4px;
}
div.main_newsletter div.newsletter div.panel div.panel_body p {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_newsletter div.newsletter div.panel div.panel_body input {
  height: 38.5px;
  border: 1px solid #CCC;
  background: #FFF;
  display: flex;
  padding-left: 15px;
  align-items: center;
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
div.main_newsletter div.newsletter div.panel div.panel_body button {
  padding: 12px 24px;
  background: #F44336;
  cursor: pointer;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
div.main_newsletter div.newsletter div.panel div.panel_body button:hover {
  color: #000;
  background: #ccc;
}
div.main_newsletter div.newsletter.open {
  opacity: 1;
}

/* Extra small devices (phones, below 600px) */
@media only screen and (min-width: 320px) and (max-width: 599.9px) {
  div.main_newsletter div.newsletter div.panel div.panel_body h3 {
    font-size: 24px;
  }
  div.main_newsletter div.newsletter div.panel div.panel_body p {
    font-size: 14px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=newsletter.module.css.map */
